<%= form_for @order, method: :post do %>
<center>
 <article>
   <% if flash[:error].present? %>
     <div id="error_explanation">
       <p><%= flash[:error] %></p>
     </div>
   <% end %>
   <label class="amount">
     <span>Total : " <%= @total %> "</span>
   </label>
 </article>


 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
         data-description="A month’s subscription"
         data-amount="<%= @total * 100 %>"
         data-locale="auto">
</script>
<% end %>
</center>
