
<div class="container">
<div class="row">
  <div class="col-5">
    <%=  if @item.picture.attached? ==true
    image_tag @item.picture, width: 300, alt: 'avatar' end  %>
  </div>
  <div class="col-6">
    <br>
    <h2><%= @item.title %></h2>
    <br>
    <h5><%= @item.description %></h5>
    <br>
    <h6>Price : <%= @item.price %></h6>
    <br>

    <% if current_user != nil %>
    <%= link_to "Ajouter au panier", cart_items_path(cart_id: Cart.find_by(user_id: current_user.id), item_id: @item.id), class:"card-link", method: :post %>
    <% end %>
    </div>
</div>
